---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-items-center items-center">
    <span class="text-white tracking-tight font-extrabold text-3xl text-center">404 Not Found</span>
    <img class="mt-4 border-2 border-white rounded-lg" src="/videos/this-is-fine-404.gif"></img>
    <span class="text-gray-400 tracking-tight font-extralight text-xl mt-8 text-center">The page you are trying to access doesn't exist</span>
  </div>
</Layout>